.view-sport-game-schedule {
  white-space: nowrap;
}

.view-sport-game-schedule a {
  font-weight: normal;
}

.view-sport-game-schedule td.active {
  background-color: inherit;
}

.sport-team-name a {
  font-weight: bold;
}

.sport-team-name {
  font-weight: bold;
}

.sport-game-block table {
/*  width: 300px;*/
  white-space: nowrap;
}

.sport-game-block td {
	text-align: center;
}
