#field_team_in_season_player_values div.form-item label {
  float: left;
  width: 100px;
}

#field_team_in_season_staff_values div.form-item label {
  float: left;
  width: 100px;
}

.view-sport-team-team-per-season {
	margin-top: 10px;
	text-align: center;
}

.view-sport-team-team-per-season .views-row-odd {
	clear: both;
	float: left;
	margin-right: 50px;
	margin-bottom: 00px;
}

.view-sport-team-team-per-season .views-row-even {
  margin-bottom: 25px;
}

.view-sport-team-team-per-season .views-field-title {
  font-size: 20px;
  font-weight: bold;
}

.view-sport-team-team-per-season .views-field-field-team-in-season-picture-fid {
	margin: 10px;
}

.team-member-listing {
	min-width: 500px;
}

.team-member-listing .portrait {
  float: left;
  margin-right: 10px;
}

.team-member-listing .name {
  font-weight: bold;
  white-space: normal;
}

.node .group-team-in-season-picture {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}

.season-team-list {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

.team-links-left {
	float: left;
}

.team-links-right {
	float: right;
}

.team-links-center {
	text-align: center;
	font-size: larger;
	font-weight: bold;
	margin-left: 150px;
	margin-right: 150px
}

.sport-team-player-history {
	clear: both;
	float: left;
	margin-right: 50px;
}

.sport-team-staff-history {
  float: left;
}


