#field_sport_league_member_values label {
  float: left;
  width: 100px;
}

#field_sport_league_member_values .form-text {
  width: 100px;
}

.field-sport-league-member-items div.form-item .form-text {
  width: 100px;
}

