.node-teaser .field-field-sport-location-image .field-item {
  float: left;
}

.node .field-field-sport-location-image .odd {
  float: left;
}

.field-field-sport-location-image .field-item {
  margin-right: 5px;
}

.field-field-sport-location-image {
  margin-top: 15px;
  margin-bottom: 15px;
}

.views-field-field-sport-location-image-nid .field-item {
  float: left;
}
